<!doctype html>
<html lang="zh-CN">

{{ template "title"}}

<body>

    <!-- 头部导航条 -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#"><img src="../static/img/caijiloga.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a target="_blank" href="/user/auth/vip"><span class="pcrushtobuy">购买会员</span> </a></li>
                    <!-- <li><a target="_blank" href="/vip"><img src="../static/img/vip.png"></a></li> -->
                    <li><a href="#"><img src="{{.ordinaryuser}}{{.vipuserimg}}"></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false"><span class="glyphicon glyphicon-user"></span>用户名:{{ .username }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="glyphicon glyphicon-phone" href="#">账&nbsp;号:{{ .account }}</a></li>
                            <li><a class="glyphicon glyphicon-euro" href="#">有效期:{{ .vip }}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a class="glyphicon glyphicon-log-out" href="/user/auth/loginout">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {{ template "wyhead"}}


    <div class="container">
        <form class="form-inline" action="/user/auth/wyyl" method="get">
            <div class="form-group">
                <label for="exampleInputName2">阅读量:</label>
                <input style="width:120px" type="number" name="cmt" placeholder="{{ .searchnull}}阅读量大于" value="{{ .inputvalee }}{{
                    .cmtread}}" class="form-control" id="exampleInputName2" placeholder="输入阅读量">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">标题:</label>
                <input style="width:200px" type="text" class="form-control" value="{{ .title}}" name="title"
                    id="exampleInputEmail2" placeholder="输入标题搜索支持模糊搜索">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">作者:</label>
                <input style="width:120px" type="text" class="form-control" id="exampleInputEmail2" value="{{ .auth}}"
                    name="auth" placeholder="输入作者名称">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">时间:</label>
                <input style="width:120px" type="date" class="form-control" id="startTime" name="date"
                    value="{{.startTime}}">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">至</label>
                <input style="width:120px" type="date" class="form-control" id="endTime" name="xiaoyu" getBeforeDate(3)
                    value="{{.endTime}}">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">类型:</label>
                <select class="form-control" type="checkbox" name="typstatus" id="">
                    <option value="">全部</option>
                    <option value="V">视频</option>
                    <option value="HH">文章</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
        </form>
    </div>
    <br>
    <!-- 两边留白 -->
    <div class="container" style="height: 550px;">
        <table class="table table-hover" style="width: 100%;text-align: center;">
            <tbody>
                <th>标题</th>
                <!-- <th>时间</th> -->
                <th>作者</th>
                <th>阅读量</th>
                <th>评论</th>
            </tbody>

            {{ range $v := .ucsh }}
            <tr>
                <td><a target="_blank" href="#"><a target="_blank" href="{{ .Link }}">{{ .Title }}</a></a>
                </td>
                <!-- <td>{{ .Itm}}</td> -->
                <td>{{ .Auth }}</td>
                <td>{{ .Cmt }}</td>
                <td>{{ .Cnt}}</td>
            </tr>
            {{ end }}
            <tr>
                <td colspan="5" style="color:red;font-size: 20px;">{{ .zuosi }}{{ .datanull}} {{
                    .deletesussce}}{{.daoqi}}</td>
            </tr>
            <tr>
                <td colspan="5">
                    <span><a
                            href="/user/auth/wyyl?cmt={{.mmcmt}}&title={{ .title }}&auth={{ .auth}}&pageSize=15&currentPage={{ .reduce }}">上一页</a></span>
                    <span>第{{.currentPage}}页</span>
                    <span><a
                            href="/user/auth/wyyl?cmt={{.mmcmt}}&title={{ .title }}&auth={{ .auth}}&pageSize=15&currentPage={{ .add }}">下一页</a></span>
                    <span>共 {{ .total }}{{ .seratotal}}条</span>
                    <span>共{{ .pagenumber}}页</span>
                    <span><a href="{{ .renovate }}">刷新</a></span>
                    <span>前往 <input class="page" style="width: 30px;height: 20px;" value="{{.currentPage}}"
                            type="number" id="pageNo" /> 页</span>
                    <span><a style="color: blue;"
                            onclick="location ='/user/auth/wyyl?cmt={{.mmcmt}}&title={{ .title }}&auth={{ .auth }}&pageSize=15&currentPage='+document.getElementById('pageNo').value;">确定</a></span>
                </td>
            </tr>
        </table>

        <!-- <div style="width: 100%;text-align: center;font-size:80px;color: blue;height: 80px;line-height: 80px;">
            <span>{{ .zuosi }}{{ .datanull}} {{ .deletesussce}}{{.daoqi}}</span>
        </div> -->
        {{ template "footer"}}