{{ template "title"}}
<div class="container-fluid">
    <!-- 头部导航条 -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#"><img src="../static/img/caijiloga.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li><a target="_blank" href="/vip"><img src="../static/img/vip.png"></a></li> -->
                    <li><a href="#"></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false"><span class="glyphicon glyphicon-user"></span>用户名:超级管理员
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="glyphicon glyphicon-phone" href="#">账&nbsp;号:</a></li>
                            <li><a class="glyphicon glyphicon-euro" href="#">有效期:</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a class="glyphicon glyphicon-log-out" href="/user/auth/loginout">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <form class="form-inline" action="/adminhuang" method="get">
        <div class="form-group">
            <label for="exampleInputName2">手机:</label>
            <input type="number" class="form-control" name="account" placeholder="输入手机号查询" value="{{ .phone }}">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">用户名:</label>
            <input type="text" class="form-control" placeholder="输入用户名查询" value="{{.username}}" name="username">
        </div>
        <button type="submit" class="btn btn-default">查询</button>
    </form>
    <table class="table table-hover" style="text-align: center;">
        <tbody>
            <th>ID</th>
            <th>注册时间</th>
            <th>用户名</th>
            <th>账号</th>
            <th>VIP到期时间</th>
            <th>充值</th>
            <th>删除</th>
        </tbody>
        {{ range $v := .info }}
        <tr>
            <td>{{ $v.ID }}</td>
            <td>{{ $v.CreatedAt.Format "2006-01-02 15:04:05"}}</td>
            <td>{{ $v.Username }}</td>
            <td>{{ $v.Account }}</td>
            <td>{{ $v.Vip}}</td>
            <td><a style="color: blue;" target="_blank" href="/showeditor/{{ $v.ID }}">充值</a></td>
            <td><a style="color: blue;" href="/deleuser/{{ $v.ID }}">删除用户</a></td>
        </tr>
        {{ end }}

        <tr>
            <td colspan="7" style="text-align: center;">
                <a type="button" href="/adminhuang?pageSize=20&currentPage={{ .reduce }}">上一页</a>&nbsp;
                <span>第 {{.currentPage}} 页</span>&nbsp;
                <a type="button" href="/adminhuang?pageSize=20&currentPage={{ .add }}">下一页</a>
                &nbsp;<span>共 {{ .total }}{{ .searchtotal}} 条</span>&nbsp; <span><span>共 {{
                        .pagenumber}}
                        页</span><a href="{{ .renovate }}"> 刷新 </a>{{ .topage}}</span>
                <span>前往 <input class="page" type="" min="1" autocomplete="off" id="pageNo" value="{{.currentPage}}"
                        onKeyPress="onlyNumber();" /> 页</span>
                <a   href="javascript:;"
                    onclick="location ='/adminhuang?pageSize=20&currentPage='+document.getElementById('pageNo').value;">确定</a>
            </td>
        </tr>
        <tr>
            <td colspan="7" style="color: blue;"><span>{{ .zuosi }}{{ .datanull}} {{ .deletesussce}}</span></td>
        </tr>

    </table>
</div>


{{ template "footer"}}