{{define "qqclass"}}
<!-- 企鹅号的分类导航栏 -->
<div class="container">
    <table class="table meun" border="0">
        <tbody>
            <th colspan="2" >来源:</th>
            <th colspan="2" ><a href="/user/auth/index" target="_blank" rel="noopener noreferrer">大鱼号</a></th>
            <th colspan="2"><a href="/user/auth/qqEntertainmentdeile" target="_blank" rel="noopener noreferrer">企鹅号</a></th>
              <th colspan="2"><a href="/user/auth/wyyl" target="_blank" rel="noopener noreferrer">网易号</a></th>
        </tbody>
        <tr style="font-size: 6px;">
            <th style="text-align: center;">领域:</th>
            <th><a href="/user/auth/qqEntertainmentdeile">娱乐</a></th>
            <th><a class="layui-this"  href="/user/auth/qqtechnolygydeile">科技</a></th>
            <th><a class="layui-this"  href="/user/auth/qqcardeile">汽车</a></th>
            <th><a class="layui-this"  href="/user/auth/qqhousedeile">房产</a></th>
            <th><a class="layui-this"  href="/user/auth/internationadeile">国际</a></th>
            <th><a class="layui-this"  href="/user/auth/qqmoviesdeile">影视</a></th>
            <th><a class="layui-this"  href="/user/auth/qqeconomicsdeile">财经</a></th>
            <th><a class="layui-this"  href="/user/auth/qqmilitarydeile">军事</a></th>
            <th><a class="layui-this"  href="/user/auth/qqnbadeile">NBA</a></th>
            <th><a class="layui-this"  href="/user/auth/qqsportsdeile">体育</a></th>
            <th><a class="layui-this"  href="/user/auth/qqtechnolygydeile">科技</a></th>
            <th><a class="layui-this"  href="/user/auth/qqsharesdeile">股票</a></th>
        </tr>

    </table>
</div>
{{end }}