{{ define "title"}}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>写易自媒体工具,让内容创作更高效</title>
    <meta name="keywords" content="写易,自媒体工具,新媒体工具,自媒体爆文,自媒体软件,自媒体助手,自媒体爆文采集,视频批量下载,视频批量下载工具,原创度检测,自媒体运营">
    <meta name="Description"
        content="写易自媒体工具,基于数据挖掘技术把各大自媒体平台内容进行整合分析,为自媒体作者提供在运营过程中需要用到的实时热点追踪、爆文视频批量采集下载、微信文章编辑器排版、标题生成及原创度检测等服务。" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="referrer" content="no-referrer" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
   
        <!-- <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script> -->
        <script src="../static/dist/js/jquery.min.js"></script>
      <link rel="stylesheet" href="../static/dist/css/bootstrap.min.css">
    <script src="../static/dist/js/bootstrap.js"></script>
    <link rel="shortcut icon" href="../static/img/icon.png" type="image/x-icon" />
   
</head>



{{end}}