{{define "uchead"}}




<div class="container">
    <table class="table meun" border="0" style="width:auto">
        <tbody>
            <th colspan="2" >来源:</th>
            <th colspan="2" ><a href="/user/auth/index" target="_blank" rel="noopener noreferrer">大鱼号</a></th>
            <th colspan="2"><a href="/user/auth/qqEntertainmentdeile" target="_blank" rel="noopener noreferrer">企鹅号</a></th>
              <th colspan="2"><a href="/user/auth/wyyl" target="_blank" rel="noopener noreferrer">网易号</a></th>
        </tbody>
        <tr style="font-size: 6px;">
            <td>领域:</td>
            <th><a href="/user/auth/index">娱乐</a></th>
            <th><a href="/user/auth/img">图片</a></th>
            <th><a href="/user/auth/variety">综艺</a></th>
            <th><a href="/user/auth/technology">科技</a></th>
            <th><a href="/user/auth/car">汽车</a></th>
            <th><a href="/user/auth/game">游戏</a></th>
            <th><a href="/user/auth/historylist">历史</a></th>
            <th><a href="/user/auth/hotspot">热点</a></th>
            <th><a href="/user/auth/ucsh">社会</a></th>
            <th><a href="/user/auth/sports">体育</a></th>
            <th><a href="/user/auth/economics">财经</a></th>
            <th><a href="/user/auth/animation">动漫</a></th>
            <th><a href="/user/auth/travel">旅游</a></th>
            <th><a href="/user/auth/healthy">健康</a></th>
            <th><a href="/user/auth/cducation">教育</a></th>
            <th><a href="/user/auth/wenwan">文玩</a></th>
            <th><a href="/user/auth/deliciousfood">美食</a></th>
            <th><a href="/user/auth/anecdote">奇闻</a></th>
            <th><a href="/user/auth/workplace">职场</a></th>
            <th><a href="/user/auth/hotlist">热榜</a></th>
            <th><a href="/user/auth/gofishing">钓鱼</a></th>
            <th><a href="/user/auth/movies">影视</a></th>
            <th><a href="/user/auth/furnishing">家居</a></th>
            <th><a href="/user/auth/property">房产</a></th>
        </tr>
        <tr style="font-size: 6px;">
            <th><a href="/user/auth/bodybuilding">健身</a></th>
            <th><a href="/user/auth/digital">数码</a></th>
            <th><a href="/user/auth/constellation">星座</a></th>
            <th><a href="/user/auth/film">电影</a></th>
            <th><a href="/user/auth/funny">搞笑</a></th>
            <th><a href="/user/auth/football">足球</a></th>
            <th colspan="2"><a href="/user/auth/beautyAndSlimming">美容瘦身</a></th>
            <th colspan="2"><a href="/user/auth/scientificExploration">科学探索</a></th>
            <th colspan="2"><a href="/user/auth/internet">互联网</a></th>
        </tr>
    </table>


</div>

{{end}}

