{{define "wyhead"}}




<div class="container">
    <table class="table meun" border="0" style="width:auto">
        <tbody>
            <th colspan="2">来源:</th>
            <th colspan="2"><a href="/user/auth/index" target="_blank" rel="noopener noreferrer">大鱼号</a></th>
            <th colspan="2"><a href="/user/auth/qqEntertainmentdeile" target="_blank" rel="noopener noreferrer">企鹅号</a>
            <th colspan="2"><a href="/user/auth/wyyl" target="_blank" rel="noopener noreferrer">网易号</a></th>
        </tbody>
        <tr style="font-size: 6px;">
            <td>领域:</td>
            <th><a href="/user/auth/wyyl">娱乐</a></th>
            <th><a href="/user/auth/wytiyi">体育</a></th>
            <th><a href="/user/auth/wtechnology">科技</a></th>
            <th><a href="/user/auth/wfinance">财经</a></th>
            <th><a href="/user/auth/wfocusnews">要闻</a></th>
            <th><a href="/user/auth/whotspot">热点</a></th>
            <th><a href="/user/auth/wfashion">时尚</a></th>
            <th><a href="/user/auth/whotlist">热榜</a></th>
            <th><a href="/user/auth/wtravel">旅游</a></th>
            <th><a href="/user/auth/wmilitary">军事</a></th>
            <th><a href="/user/auth/wknowsno">知否</a></th>
            <th><a href="/user/auth/wparenting">亲子</a></th>
            <th><a href="/user/auth/whistory">历史</a></th>
            <th><a href="/user/auth/WGame">游戏</a></th>
            <th><a href="/user/auth/WDigital">数码</a></th>
            <th><a href="/user/auth/Wsole">独家</a></th>
            <th><a href="/user/auth/Weducation">教育</a></th>
            <th><a href="/user/auth/Wcircle">圈子</a></th>
            <th><a href="/user/auth/WCar">汽车</a></th>
            <th><a href="/user/auth/Wshares">股票</a></th>
            <th><a href="/user/auth/WFurnishing">家居</a></th>
            <th><a href="/user/auth/Wnba">nba</a></th>
            <th><a href="/user/auth/Whealthy">健康</a></th>
            <th><a href="/user/auth/WMovies">影视</a></th>
            <th><a href="/user/auth/Wconstellation">星座</a></th>
            <th><a href="/user/auth/Wpixiv">二次元</a></th>
        </tr>
        <tr style="font-size: 6px;">
            <th><a href="/user/auth/Wwoman">女人</a></th>
            <th><a href="/user/auth/Wphone">手机</a></th>
            <th><a href="/user/auth/WArt">艺术</a></th>
            <th><a href="/user/auth/WInternationalFootball">国际足球</a></th>
            <th><a href="/user/auth/WMass">双创</a></th>
        </tr>

    </table>


</div>

{{end}}